.App{
    margin: 0;
    padding: 0;
    background-color: #f2f6ff;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 1px #555;
    height: 115px;
  }
  #left-side-header {
    display: flex;
    align-items: center;
    padding-left: 100px;
  }
  #right-side-header {
    display: flex;
    align-items: center;
    padding-right: 100px;
  }
  #explore-categerios {
    padding-left: 80px;
    font-size: 20px;
  }
  
  #edyoda-text {
    color: #0084ff;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.08;
    letter-spacing: -0.9px;
    text-align: left;
    font-family: Raleway, sans-serif;
    font-size: 50px;
    text-transform: uppercase;
  }
  #stories-text {
    font-family: Raleway, sans-serif;
    font-size: 1em;
    font-weight: 500;
    font-style: italic;
    font-stretch: normal;
    line-height: 0.8;
    letter-spacing: 0.9px;
    color: #000;
    font-size: 22px;
  }
  .down-arrow {
    font-size: 25px;
    padding-left: 8px;
}
  #edyoda-description {
    min-width: 23em;
    opacity: 0.6;
    font-family: Raleway, sans-serif;
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 0.4px;
    text-align: left;
    color: rgba(0, 0, 0, 0.6);
    margin-top: 0.5em;
    /* padding-right: 36px; */
    font-size: 20px;
  }
  #main-website-btn {
    padding: 19px 29px;
    background: linear-gradient(269deg, #0048ff, #0096ff);
    color: white;
    border: none;
    border-radius: 35px;
    font-weight: 600;
    cursor: pointer;
    font-size: 18px;
  }
  .fa-angle-down::before {
    position: relative;
    top: 4px;
}


/* section */

.section {
    background-color: #f2f6ff;
    padding: 10px 0px;
}

.trend-head {
    width: 70%;
    margin: 0 auto;
    margin-top: 10px;
}

.trend-head h1 {
    font-size: 34px;
    font-family: Raleway, sans-serif;
    letter-spacing: -.9px;
    line-height: 1.94;
    font-weight: 600;
    margin: 0px;
    color: #000;
}

.filter-div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 70%;
    margin: 0 auto;
    padding-top: 16px;
}

#filter-head {
    font-size: 20px;
    font-family: Raleway, sans-serif;
    margin: 10px 0px;
}

.buttons {
    width: 70%;
    margin: 10px auto;
    padding-bottom: 15px;
}

.btns {
    border: 1px solid #0084ff;
    padding: 5px 24px;
    width: auto;
    color: #0084ff;
    border-radius: 15px;
    margin: 5px;
    cursor: pointer;
    font-size: 16px;
}

#btn-all {
    background-color: #0084ff;
    color: white;
}

.btns:hover {
    background-color: #0084ff;
    color: #ffff;
}


#container {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 10px auto;
    justify-content: space-between;
}

.itemcard {
    width: 32%;
    margin-bottom: 20px;
    box-shadow: 2px 2px 7px #0084ff;
}

.imagesection {
    width: 100%;
    height: 176px;
}

.itemimg {
    width: 100%;
    height: 140%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.textsection {
    padding: 10px 24px;
    margin-top: 68px;
}

.title {
    font-size: 25px;
    text-align: left;
    margin: 0;
    font-weight: 600;
}

.authorcontainer {
    padding-top: 4px;
}

.author {
    color: #0096ff;
    font-size: 20px;
    font-style: italic;
    font-weight: 500;
}

.date {
    color: rgba(0, 0, 0, 0.7);
    font-size: 20px;
    font-weight: 300;
}

.text {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.43;
    color: rgba(0, 0, 0, 0.6);
    margin: 4px 0;
}

.footer {
    border: 1px solid black;
    background-color: #172146;
    padding: 80px 16%;
}
.body-content{
    margin-top:120px
}